@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.App{
  background-image: url(../public/fondo2.jpg);
  background-size: cover;
  min-height: 100vh;
}
.App-logo {
  width: 160px;
}
.App-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
}
ul li a {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding-left: 50px;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.App-header__search{
  display: flex;
  flex-direction: row;
}
form{
  margin-right: 8px;
}
main {
  padding: 40px;
  font-family: 'Poppins', sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.botonera{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  margin: 2px;
}
.stock {
  display: flex;
  flex-direction: row;
}
.imgProducts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.row {
  display: flex;
  justify-content: center;
}
.home {
  height: 100vh;
  display: flex;
  justify-content: center
}
.home h2{
  padding-bottom: 40px;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.operacion{
  margin-left: 20PX;
  margin-right: 20px;
  width: 40px;
}
.visually-hidden{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.finish {
  width: 200px;
  margin-left: 20px;
  height: 40px;
}
.finish p {
  font-size: 18px;
}
.cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}
.itemCart{
  display: flex;
  align-items: center;
}
.button-cart{
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.detailCart{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-finish{
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: white;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}
.orders{
  display: flex;
  align-items: center;
  flex-direction: column;
}